@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;900&family=Bellefair&display=swap');

$font-family-heading: 'Bellefair', sans-serif;
$font-family-text: 'Barlow Condensed', sans-serif;

%heading-1, %heading-2, %heading-3, %heading-4, %subheading-1, %subheading-2, %nav-text {
    font-family: $font-family-heading;
    color: #FFFFFF;
}

%nav-text {
    text-transform: uppercase;
    font-size: clamp(1rem, 0.9vw, 3rem);
    letter-spacing: 2.5px;
}

.App {
    min-height: 100vh;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    position: relative;
    overflow: hidden;

    .main-nav-component { grid-area: 1 / 1 / 2 / 2; }
    .main-content-container { grid-area: 2 / 1 / 3 / 2; }
}

.main-nav-component {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
    padding: 1em 1em;

    @media(min-width:1280px){
        &::before {
            content: '';
            height: 3px;
            background:#d0d6f97a;
            position: absolute;
            left: 120px;
            transform: translateY(0%);
            width: 32%;
            z-index:2;
    
          }
    
    }
  

    @media (min-width: 640px) {
        padding: 0;
    }
    @media (min-width: 1280px) {
        align-items: center;
    }

    .nav-open-btn, .nav-close-btn {
        background: none;
        border: none;
        cursor: pointer;
        transition: transform ease-in 100ms;

        &:hover {
            transform: scale(1.2);
        }

        @media (min-width: 640px) {
            display: none;
        }
    }

    .nav-list-wrap {
        padding: 1em;
        background: linear-gradient(to right, #0f1220, rgba(252, 252, 252, 0.103), rgba(252, 252, 252, 0.068));
        filter: blur();
        backdrop-filter: blur(5px);
        position: absolute;
        min-height: 100%;
        width: 100%;
        z-index: 100;
        top: 0;
        transition: right 300ms ease-in;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition:transform 300ms ease-in;
        transform:translateX(100%);

        &.nav-open {
            transform:translateX(-3%);
        }


        @media (min-width: 640px) {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0;
            min-height: 100px;
            width: 70%;
            right: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 10px;
            transform:translateX(0%);
        }

        @media (min-width: 1100px) {
            align-items: center;
            padding: 0;
            width: 60%;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        padding-left: 5px;
        gap: 1em;
        width: 100%;

        @media (min-width: 640px) {
            flex-direction: row;
            justify-content: space-evenly;
        }

        li {
            padding-left: 1em;
            @media (min-width: 640px) {
                padding-left: 0;
            }
            cursor: pointer;
            
            &::before {
                content: '';
                position: absolute;
                width: 0%;
                height: 3px;
                background-color: white;
                bottom: 0;
                
                @media (min-width: 640px) {
                    bottom: -48px;
                }
                @media (min-width: 836px) {
                    bottom: -37px;
                }
                
                transition: width 300ms ease-in;
            }
            
            &:not(.activeNavBtn):hover::before {
                width: 50%;
                @media (min-width: 640px) {
                    width: 100%;
                }
            }
            
            &.activeNavBtn::before {
                width: 50%;
                @media (min-width: 640px) {
                    width: 100%;
                }
            }
            position: relative;

            .nav-item-num {
                font-size: 23px;
                padding-right: 5px;
                letter-spacing: 2px;
            }

            .nav-item {
                letter-spacing: 1px;
                text-decoration: none;
                color: #FFFFFF;
                font-size: 17px;
            }
        }
    }

    @media (min-width: 640px) {
        .main-web-logo {
            padding-left: 1em;
        }
    }
}

.main-content-container {
    min-height: 100vh;
    position: relative;

    @media (min-width: 836px) {
        height: 100%;
        min-height: 80vh;
    }
}

//Home Section
.home-content-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 1025px) {
        flex-direction: row;
    }
}

.home-main-text {
    text-align: center;
    min-width: 320px;
    max-width: 100%;

    h3 {
        @extend %heading-4;
        color: #D0D6F9;
        letter-spacing: 4.75px;
        font-weight: 500;

        @media (min-width: 836px) {
            margin-bottom: 2em;
        }
    }

    h1 {
        font-size: clamp(6.25rem, 1.9022rem + 21.7391vw, 9.375rem);
        margin: 0;
        @extend %heading-1;
        line-height: 150px;
    }

    p {
        color: #D0D6F9;
        letter-spacing: 3px;
        font-weight: 400;
        font-size: clamp(1.0625rem, 0.9755rem + 0.4348vw, 1.125rem);
        padding: 0 1em;

        @media (min-width: 836px) {
            margin-top: 2em;
            margin-bottom: 5em;
            padding: 0;
        }
    }

    @media (min-width: 836px) {
        max-width: 550px;
    }

    @media(min-width:1025px){
        position:relative;
        bottom:-120px;
        text-align: left;
    }
}

.home-landing-page-btn {
    @extend %heading-1;
    position: relative;
    color: black;
    background-color: white;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
    border-radius: 300px;
    font-size: 35px;
    cursor: pointer;

    &::before {
        position: absolute;
        content: '';
        background-color: rgba(252, 252, 252, 0.205);
        width: 290px;
        height: 290px;
        border-radius: 300px;
        transition: width 200ms ease-in, height 200ms ease-in;
    }

    &:hover::before {
        width: 360px;
        height: 360px;
    }
}

//Destination
.destination-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    height: auto;

    @media (min-width: 1194px) {
        gap: 1em;
        justify-content: space-evenly;
        flex-direction: row;
    }
}

.main-planet-display-component {
    .planet-display {
        width: 100%;

        @media (min-width: 1194px) {
            width: 110%;
            padding-top: 1em;
        }

        .planet {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

.main-planet-interactive-component {
    min-width: 320px;
    max-width: 550px;
    height: auto;
    text-align: center;

    @media (max-width: 340px) {
        text-align: left;
    }

    .planet-interactive-nav-row {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-bottom: 2em;

        button {
            @extend %nav-text;
            border: none;
            background: none;
            font-size: clamp(0.875rem, 0.6681rem + 1.0345vw, 1.25rem);
            font-weight: 500;
            letter-spacing: 2.7px;
            cursor: pointer;
            transform: width 300ms ease;
            position: relative;
            padding-bottom: 5px;
            transition: border 100ms ease-in;

    
        }

        .destination-active {
            border-bottom: 5px solid #D0D6F9;
        }
    }

    div {
        max-height: 550px;

        h1 {
            @extend %heading-2;
            font-size: clamp(6.25rem, 1.9022rem + 21.7391vw, 7.375rem);
            margin: 0;
        }

        p {
            margin: 0;
            color: #D0D6F9;
            letter-spacing: 3px;
            font-weight: 400;
            font-size: clamp(0.1rem, 0.9755rem + 0.4348vw, 1.25rem);
        }

        @media (max-width: 330px) {
            max-width: 320px;
            h1 {
                @extend %heading-2;
                font-size: clamp(6rem, 1.9022rem + 21.7391vw, 5.375rem);
                margin: 0;
            }
            p {
                margin: 0;
                color: #D0D6F9;
                letter-spacing: 3px;
                font-weight: 400;
                font-size: 15px;
            }
        }
    }

    .display-distance-travel-time {
        margin-top: 3em;
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2em;
        border-top: 2px solid #d0d6f9d7;

        p {
            @extend %subheading-2;
            color: #D0D6F9;
            font-size: 18px;
            margin: 0;
            letter-spacing: 2px;
        }

        h2 {
            @extend %subheading-1;
            font-size: 28px;
            margin-top: 5px;
            letter-spacing: 2px;
        }

        @media (min-width: 1194px) {
            justify-content: start;
        }
    }

    @media (min-width: 1194px) {
        text-align: left;

        .planet-interactive-nav-row {
            justify-content: start;
        }

        .display-distance-travel-time {
            justify-content: start;
        }
    }
}

//page-label
.page-label {
    display: flex;
    align-items: center;
    gap: 1em;
    animation: fadeSlideDown 500ms ease-in;

    @media (min-width: 420px) {
        align-self: self-start;
    }

    @media (min-width: 1194px) {
        animation: fadeSlideRight 500ms ease-in;
        position: absolute;
        left: 15%;
        top: 10px;
    }

    h1, h2 {
        letter-spacing: 5px;
    }

    h2 {
        font-size: 28px;
        color: #ffffff79;
    }

    h1 {
        font-weight: 400;
        font-size: clamp(1.25rem, 0.9052rem + 1.7241vw, 1.875rem);
    }
}

//crew-content-area
.crew-content-container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;

    @media (min-width: 640px) {
        flex-direction: column;
    }

    @media (min-width: 1194px) {
        justify-content: space-around;
        align-items: flex-end;
        flex-direction: inherit;
        margin: 0 1em;
    }

    .crew-detail-container {
        display: flex;
        min-width: 320px;
        max-width: 550px;
        text-align: center;
        flex-direction: column-reverse;

        @media (min-width: 640px) {
            flex-direction: column;

            .crew-btn-list {
                margin-bottom: auto;
            }
        }

        @media(min-width:1190px){
            width:550px;
        }

        .crew-btn-list {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
            order: 1;
            margin-bottom: 1em;
            bottom:0px;
            

            .crew-display-btn {
                width: 30px;
                height: 30px;
                border-radius: 100px;
                border: none;
                font-size: 25px;
                cursor: pointer;
            }

            .active-crew-display-btn {
                background:white;
            }

            @media (min-width: 1194px) {
                justify-content: flex-start;
                margin-bottom: 5em;
            }
        }
    }
}

.crew-label {
    @media (max-width: 639px) {
        order: 1;
        transform: translateY(-50px);
    }
}

.crew-text-info, .techno-info-wrapper {
    text-align: center;

    h2, h3 {
        @extend %heading-1;
        text-transform: uppercase;
    }

    h3 {
        color: #d0d6f9c9;
        font-size: 30px;
        margin: 0;
    }

    h2 {
        font-size: 35px;
        margin: 0;

        @media (min-width: 640px) {
            font-size: 50px;
        }
    }

    p {
        color: #d0d6f9de;
        text-indent: 2px;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: clamp(1.125rem, 0.9511rem + 0.8696vw, 1.25rem);
    }

    @media (min-width: 1194px) {
        text-align: left;
    }
}

.crew-image-container {
    display: flex;
    justify-content: center;
    min-height: 320px;
    max-height: 100%;
    border-bottom: 1px solid #D0D6F9;
    margin-bottom: 10px;
    overflow: hidden;

    @media (min-width: 640px) {
        position: relative;
        border: none;
        bottom: -10px;
    }

    @media(min-width:1190px){
        width:550px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

//techno page
.technology-content-container {
    height: auto;

    @media (min-width: 1190px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}

.techno-display {
    img {
        width: 105%;

        @media (min-width: 1190px) {
            width: auto;
            max-width: 100%;
        }
        max-height: 100%;
        object-fit: cover;
        padding: 0;
        margin: 0;
    }
}

.techno-interactive-component {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 1190px) {
        flex-direction: row;
        gap: 2em;
        margin-left: 2em;
    }
}

.techno-btn-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 2em 0em;

    @media (min-width: 1190px) {
        flex-direction: column;
        gap:2.5em;
        margin: 0em 0em;
    }

    button {
        width: 70px;
        height: 70px;
        border-radius: 100px;
        border: none;
        font-size: 25px;
        cursor: pointer;
        transition: background 500ms ease, color 300ms ease; 

        &.active-tech-btn {
            background: rgba(255, 255, 255, 0.979);
            color: rgb(0, 0, 0);
          }
    }
}

.techno-info-wrapper {
    @media (min-width: 768px) {
        p {
            width: 500px;
        }
    }
}

//animation areas
.main-planet-interactive-component, .crew-image-container img {
    animation: fadeSlideUp 1s forwards;
}

.planet-display, .techno-interactive-component, .crew-text-info {
    animation: fadeSlideDown 1s forwards;

    @media (min-width: 830px) {
        animation: fadeSlideRight 1s forwards;
    }
}

.home-main-text {
    animation: fadeSlideDown 1s forwards;
    @media(min-width:1025px){
        animation: fadeSlideRight 1s forwards
    }
}
.home-landing-page-btn {
    animation: fadeSlideUp 1s forwards;

    @media(min-width:1025px){
       animation: fadeSlideLeft 1s forwards;
    }
}

.techno-display {
    animation: fadeSlideDown 500ms forwards;

    @media (min-width: 1190px) {
        animation: fadeSlideLeft 500ms forwards;
    }
}

.techno-info-wrapper {
    animation: fadeSlideUp 1s forwards;
}

@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSlideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSlideRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeSlideLeft {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
